body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.Wrapper {
  text-align: center;
  padding: 14px;
}

@media only screen and (min-width: 768px) {
  .Wrapper {
    /* For desktop: */
    padding: 48px;
  }
}

.Paper {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  padding: 24px;

  /* For mobile phones: */
  max-width: 100%;
  min-width: 80%;
}

@media only screen and (min-width: 768px) {
  .Paper {
    /* For desktop: */
    padding: 36px;
    min-width: 700px;
    min-height: 700px;
  }
}

.Button {
  padding: 20px 0 0 0;
}

.MessageBox {
  margin: 0 0 24px -40px;
}

.Message {
  padding: 12px;
}
